html {
    margin: 0;
    padding: 0;
    background-color: #09090D;
    height: 100%;
}

body, .main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.navmenu {
  width: 88px;
  transition: width 0.28s ease;
  background: rgba(255,255,255,0.03);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-navmenu {
  display: none;
}

.navmenu:hover {
  width: 260px;
  height: 100%;
  position: absolute;
  background-color: rgb(17, 17, 21);
}

.main:has(.navmenu:hover) .background-navmenu {
  display: flex;
  width: 104px;
  /* background-color: aqua; */
}

.navmenu-link {
  display: flex;
  flex-direction: row;
}

.navmenu-up {
  width: 100%;
  height: 100%;
}

.navmenu .navmenu-up .navmenu-link a {
  opacity: 0;
  transition: opacity 0.3s ease;
  display:none; 
}

.navmenu:hover .navmenu-up .navmenu-link a {
  display:flex;
  opacity: 1;
  text-decoration: none;
  color: white;
}

.navmenu-bottom {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.main-block {
  width: 908px;
  height: 100%;
  background: rgba(255,255,255,0.03);
}

.info-block {
  width: 380px;
  height: 100%;
  background: rgba(255,255,255,0.03);
  border-radius: 12px;
  overflow: hidden;
}